[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
tqdm = "*"
gym = "*"
cvxpy = "*"

[dev-packages]

[requires]
python_version = "3"

[packages.gym_factored]
git = "git@github.com:tdsimao/gym-factored.git"
editable = true
